<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <form action=""class="container_center" method="POST">
    <input type="text" name="Question" id = "input_question" placeholder="question " >
    <div id="choice_wrapper">
      <input class="input_choice"name="first Name" placeholder="first Name" type="text">
      <input class="input_choice"name="las Name" placeholder="las Name" type="text">
      <input class="input_choice"name="email" placeholder="email" type="text">
      <input class="input_choice"name="city" placeholder="city" type="text">
      <input class="input_choice"name="Gender" placeholder="Gender" type="text">
    </div>
    <button id="btn_submit_poll">Submit poll</button>
  </form>
  </div>
</body>
</html>