<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise_1</title>
</head>
<body>
    <form action="" class="container_center" method="POST">
        Model:
        <input type="text" placeholder="e.g.Honda" name="Model">
        <br>
        Daily Free(VND):
        <input type="text" placeholder="number" name="Daily_Free">
        <br>
        Image:
        <input type="text" placeholder="e.g.https://hondaxemay" name="img">
        <br>
        Year:
        <input type="number" placeholder="e.g.2013" name="year">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>