<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h2>A survey</h2>
    <form>
        First Name:<br>
        <input type="text",name="First name">
        <br>
        Last Name:<br>
        <input type="text",name="last name">
        <br>
        Gender:<br>
        <input type="text",name="Gender">
        <br>
        Course information:<br>
        <input type="text",name="course information">
        <br>
        Money:<br>
        <input type="text",name="money">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>