<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote</title>
</head>
<body>
    <form action="" method="POST">
    <h3>{{ poll.question }}</h3>
    <ol>
        {% for option in poll.options %} 
        <li>{{ option }}</li>
        {% endfor %}
    </ol>
    <select name="choice" id="">
            {% for option in poll.options %}
            <option value="{{ loop.index }}">{{ loop.index }}</option>
            {% endfor %}
    </select>
    <input type="text" placeholder="e.g.guyen tuan anh" name="voter">
    <button>vote</button>
    </form>
</body>
</html>