<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/home.css">
    <title>home</title>

</head>
<body>
    <div id="root">
        
        <div id = react>
            <h2>Teckkids Express Pull</h2>
            <a href="new_poll.html">
            <button>Creat poll</button>
            </a>
        </div>
    </div>
</body>
</html>